-i https://pypi.org/simple
asgiref==3.10.0; python_version >= '3.9'
astroid==3.3.11; python_full_version >= '3.9.0'
autopep8==2.3.2; python_version >= '3.9'
dill==0.4.0; python_version >= '3.8'
django==5.2.7; python_version >= '3.10'
django-cors-headers==4.9.0; python_version >= '3.9'
djangorestframework==3.16.1; python_version >= '3.9'
isort==6.1.0; python_full_version >= '3.9.0'
mccabe==0.7.0; python_version >= '3.6'
platformdirs==4.4.0; python_version >= '3.9'
pycodestyle==2.14.0; python_version >= '3.9'
pylint==3.3.9; python_full_version >= '3.9.0'
pylint-django==2.6.1; python_version >= '3.9' and python_version < '4.0'
pylint-plugin-utils==0.9.0; python_version >= '3.9' and python_version < '4.0'
sqlparse==0.5.3; python_version >= '3.8'
tomlkit==0.13.3; python_version >= '3.8'
gunicorn==23.0.0; python_version >= '3.7'
whitenoise==6.8.2; python_version >= '3.8'
dj-database-url==2.3.0; python_version >= '3.8'
psycopg2-binary==2.9.10; python_version >= '3.8'
